.btn1{
    background: rgb(129,107,201);
border: none;
border-radius: 45px;
color: black;

}

.btn2{
    background: rgb(123,219,154);
    border: none;
color: white;
border-radius: 40px;
}

.h1{
 max-width: 100%;
 font-size: 5rem;
}
.img-fluid{
    width: 25%;
}
.card {
    background: #8e7bff;
}
.card-text{
    color: white;
}
.card-title{
    color: white;
   font-display: bold;
}